body,.ima {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(204, 255, 255);

}


.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 10;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: 5%;
}

.col-md-4 {
  flex: auto;
  width:33.33%;
  border: 5px solid #000000;
  background-color: beige;
}
.image-container img {
  border-radius:50%;
  width: 90%;
  height: 100%; 
}
header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.opcion {
  display: none;
}


.opcion.visible {
  display: block;
}

